*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  overflow-x: hidden;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #000;
}

@font-face {
  font-family: Inter;
  src: url(./assets/font/Inter/Inter-Regular.ttf);
}

.container {
  position: relative;
}
.container .share {
  position: absolute;
  top: 2rem;
  right: 20rem;
  z-index: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container .share {
    top: 1rem;
    right: 5rem;
  }
}
